body {
      padding-top: 50px;
    }
.jumbotron{
  background-color: #eee;
  height: 400px;
  line-height: 50px;
  margin-top: 30px;
  background-image: url('../images/bg.jpg');
}
footer {
  background-color: #222;
  height: 80px;
  line-height: 80px;
  margin-top: 100px;
}
footer a {
  color: #fff;
}
.sidebar
{
  min-height:350px;
  height:350px;
  background-color: #FFF;
  margin-top:10px; 
}
.sidebar_menu
{
  width: 220px;
  height: 350px;
  border: 1px solid #E8E8E8;
  float: left;
}
.list_box
{
  width:900px;
  min-height: 350px;
  height:800px;
  border:1px solid #E8E8E8;
  float: right;
  background-color: #FFF;
}
.sidebar_content
{
  height:365px;
}
.sidebar_menu h2
{
  height:35px;
  line-height:35px;
  font-size:16px;
  font-family: "微软雅黑"；
  color:#222;
  background:url(../images/titile_bg.gif) repeat-x;
  text-align: center;
 }
.sidebar_content li
{
  list-style-type: none;
  height: 30px;
  line-height: 30px; 

}
.sidebar_content li a
{
  font-size:14px;
  color:#777;
  text-decoration:none;
  padding-left: 15px;
  display: block;
}
.sidebar_content li a:hover
{
  color:#000;
}